@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

:root {
  --background-color: #e0f7fa; /* Light cyan */
  --background-image: url("../public/bg-1.jpg");
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Optional: Add padding or margin if needed */
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
